.app {
  /* Credit for background design: Temani Afif */
  --s: 160px; /* control the size */
  --c1: #A14016;
  --c2: #CFC89A;
  
  --_g: var(--s) var(--s) 
    radial-gradient(var(--c1) 17%,var(--c2) 18% 35%,#0000 36.5%);
  background: 
    calc(var(--s)/-4) calc(var(--s)/-4)/var(--_g),
    calc(var(--s)/ 4) calc(var(--s)/ 4)/var(--_g),
    radial-gradient(var(--c2) 34%,var(--c1) 36% 68%,#0000 70%) 
     0 0/calc(var(--s)/2) calc(var(--s)/2),
    repeating-linear-gradient(45deg,var(--c1) -12.5% 12.5%,var(--c2) 0 37.5%)
     0 0/var(--s) var(--s);
}

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.login, .register, .checkout{
  border: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form{
  padding: 1em;
}

form input{
  margin-bottom: 0.25em;
  max-width: 15em;
}

.navbar {
  background-color: #A14016;
  border-bottom: 0.25em solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0 1rem;
}

.navbar_elements{
  width: 2.5rem;
}

.cart{
  display: flex;
  color: #fff;
}

/* .cart span{
  border: solid;
  height: 2em;
  border-radius: 50%;
} */

.search{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  height: inherit;
  max-width: 10rem;
}

.search img{
  position: absolute;
  height: 1.5rem;
  padding: 0.5em;
}

input{
  height: 2rem;
  max-width: 20em;
}


img, input {
  max-width: 100%;
  display: block;
  cursor: pointer;
}

.app {
  min-height: 10em;
  margin-inline: auto;
}

.itemContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
}

.items {
  /* border: solid black; */
  width: 16em;
  height: 18em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20rem;
  margin: 0 auto;
  font-size: 1em;
}

.itemPic {
  /* border: solid red; */
  width: 6rem;
  height: 6rem;
}

.items > button {
  cursor: pointer;
  margin: inherit;
  padding: inherit;
}

.modal-wrapper{
  position: fixed;
  inset: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal{
  position: inherit;
  border: solid black;
  inset: inherit;
  margin: inherit;
  max-height: 25em;
  max-width: 30em;
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal img{
  cursor: auto;
}